tgBot_token = "YOUR_TGBOT_TOKEN"
gigachat_token = "YOUR_GIGACHAT_TOKEN"

DB_DIALECT=postgresql
DB_HOST=postgres
DB_HOST_PORT=5432
DB_CONTAINER_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=statistics
